link(rel='stylesheet', href='/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css')
script(src='/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
script(src='/javascripts/dogs/partials/_form.js')

form.form-horizontal(action=(!dog || dog.isNewRecord) ? 
'/dogs' : '/dogs/'+dog.id, method="post")
  if (dog && !dog.isNewRecord)
    input(type="hidden", name="_method", value="put")
  div.form-group
    label.col-sm-2.control-label(for='Dog_chipId') Chip ID
    div.col-sm-10
      input.form-control(type='text',
        name='chipId',
        id='Dog_chipId',
        placeholder='Chip ID',
        value= dog ? dog.chipId : "")
  div.form-group
    label.col-sm-2.control-label(for='Dog_name') Name
    div.col-sm-10
      input.form-control(type='text',
        name='name',
        id='Dog_name',
        placeholder='Name',
        value= dog ? dog.name : "")
  div.form-group
    label.col-sm-2.control-label(for='Dog_birthday') Birthday
    div.col-sm-10
      div.input-group.date
        input.form-control(type='text',
          name='birthday',
          id='Dog_birthday',
          class='form-control',
          placeholder='Birthday',
          readonly,
          value= dog ? dog.birthday : "")
        span.input-group-addon
          i.glyphicon.glyphicon-th
  div.form-group
    label.col-sm-2.control-label(for='Dog_sire') Sire
    div.col-sm-10
      input.form-control(type='text',
        name='sire',
        id='Dog_sire',
        placeholder='Sire Info',
        value= dog ? dog.sire : "")
  div.form-group
    label.col-sm-2.control-label(for='Dog_dam') Dam
    div.col-sm-10
      input.form-control(type='text',
        name='dam',
        id='Dog_dam',
        placeholder='Dam Info',
        value= dog ? dog.dam : "")
  div.form-group
    label.col-sm-2.control-label(for='Dog_owner') Owner
    div.col-sm-10
      input.form-control(type='text',
        name='owner',
        id='Dog_owner',
        placeholder='Owner Info',
        value= dog ? dog.owner : "")
  div.form-group
    label.col-sm-2.control-label(for='Dog_gender') Gender
    div.col-sm-10
      label Male
        input.form-control(type='checkbox',
          name='gender',
          id='Dog_gender',
          placeholder='gender',
          checked=dog && dog.gender ? 'checked' : undefined) 
  div.form-group 
    label.col-sm-2.control-label(for='Dog_address') Address
    div.col-sm-10
      input.form-control(type='text',
        name='address',
        id='Dog_address',
        placeholder='Address',
        value= dog ? dog.address : "")
  div.form-group
    label.col-sm-2.control-label(for='Dog_photo') Photo
    div.col-sm-10
      input.form-control(type='text',
        name='photo',
        id='Dog_photo',
        placeholder='Photo URL',
        value= dog ? dog.photo : "")
  div.form-group
    label.col-sm-2.control-label(for='Dog_breed_fci') Breed
    div.col-sm-10
      select.form-control( name='breed_fci', id='Dog_breed_fci')
        for breed in breeds
          option(value=breed.fci,
            selected=(dog && dog.breed_fci == breed.fci) ?
              'selected' : undefined
            )
            =breed.name + ':' + breed.fci
  div.form-group
    label.col-sm-2.control-label(for='Dog_note') Note
    div.col-sm-10
      textarea.form-control(
        name='note',
        id='Dog_note',
        placeholder='Note',
      )=dog ? dog.note : ""
  div.form-group
    div.col-sm-offset-2.col-sm-3
      input.btn.btn-default(type='submit' value='Submit')
