extends ../layout

block content
  div.row
    div.page-header
      h1 Update Password
    // error output
    include ../_error_list

    div.col-md-9
      form.form-horizontal(action='/admins/'+admin.id+'/password', method="post")
        input.form-control(type='hidden',
          name='id',
          id='Admin_id',
          value=admin.id)
        input(type="hidden", name="_method", value="put")
        div.form-group
          label.col-sm-2.control-label(for='Admin_old_password') Old Password
          div.col-sm-10
            input.form-control(type='password',
              name='account[old_password]',
              id='Admin_old_password',
              placeholder='Old Password',
              value= "")
        div.form-group
          label.col-sm-2.control-label(for='Admin_password') Password
          div.col-sm-10
            input.form-control(type='password',
              name='account[password]',
              id='Admin_password',
              placeholder='Password',
              value= "")
        div.form-group
          label.col-sm-2.control-label(for='Admin_password_confirm') Confirm Password
          div.col-sm-10
            input.form-control(type='password',
              name='account[password_confirm]',
              id='Admin_password_confirm',
              placeholder='Confirm Password',
              value= "")
        div.form-group
          div.col-sm-offset-2.col-sm-3
            input.btn.btn-default(type='submit' value='Submit')
